<ActionBar [title]="title"> </ActionBar>
<StackLayout>
  <TextField class='h2' hint="Enter Hero's name" margin="5" [(ngModel)]="heroName" > </TextField>
  <Button  text="Add" (tap) = "add()"></Button>
  <GridLayout>
      <ListView [items]="heroes">
        <ng-template let-item="item">
          <StackLayout>
            <Label [nsRouterLink]="['/hero', item.id]" [text]="item.name" class = "h2"></Label>
          </StackLayout>
        </ng-template>
      </ListView>
  </GridLayout>
</StackLayout>